<div>
<img src="/assets/images/Logo_UHIIC.png" alt="image"><br><br>
</div>
<div class="chrono-center">
<div class="sw-container">
  <div class="stopwatch">
    <span>{{hr}} : </span>
    <span>{{min}} : </span>
    <span>{{sec}} : </span>
    <span>{{milSec}} </span>
  </div>
  <div class="button-container">
    <button class="btn-play-pause ripple" (click)="start()">
      <i *ngIf="!running" class="fas fa-play"></i>
      <i *ngIf="running" class="fas fa-pause"></i>
    </button>
    <button class="ripple" (click)="reset()">
      <i class="fas fa-redo-alt"></i>
    </button>
  </div>
</div>
</div>
